/*GENERAL PAGE SETUP*/
body{
	font-size: 16px;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	line-height: 1.3;
}
h1, h2, h3{
	font-weight: bold;
}
h1{
	font-size: 3rem;
}
h2{
	font-size: 2.2rem;
}
h3{
	font-size: 1.75rem;
}
/*HEADER AND FOOTER STYLES*/
header{
	width: 100%;
	height: 64px;
	position: fixed;
	z-index: 1;
}
.headercont, .footercont{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 32px; 
	padding: 16px 24px;
	background-color: rgb(172, 27, 38);
	color: white;
}
.headercont ul li, .footercont ul li{
	display: inline-block;
	padding: 0 8px;
	transition: top 3s ease-in-out;
}
.headercont ul li:hover, .footercont ul li:hover{
	position: relative;
	top: 10px;
}
.logo, .logonav{
	display: flex;
	align-items: center;
}
.logo img{
	height: 100%;
}
.logonav .hiddenmenu{
	display: none;
}
header .logo{
	font-size: 1.7rem;
}
#logobold{
	font-weight: bold;
}
/*MAIN SECTION*/
.main{
	position: relative;
	top:64px;
	background-color: white;
}
/*BANNER SECTION*/
.banner, .articles, .thesiscont{
	display: flex;
	justify-content: center;
	padding: 32px 24px;
}
.banner{
	align-items: center;
	background-color: rgb(63,148,139);
	color: white;
}
.banner .bannerimg{
	width: 60%;
}
.banner .bannerimg img{
	width: 100%;
	height: auto;
}
.banner .bannertext{
	width: 40%;
	text-align: left;
	margin-left: 24px;
	margin-right: 24px;
}
.bannertext .bannerbtn{
	background-color: rgb(172, 27, 38);
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	color: white;
	width: 100%;
}
.bannerbtn:hover{
	background-color: white;
	color: rgb(172, 27, 38);
}
.banner .bannertext h1{
	margin-bottom: 32px;
}
.bannertext h3{
	margin-bottom: 24px;
	color: black;
}
#banbtn h3{
	font-weight: normal;
	color: white;
	margin-bottom: 0;
}
/* ARTICLES SECTION*/
.main .articles{
	background-color: white;
	padding-right: 0;
}
.articles .mainart, .thesiscont .mainart{
	width: 60%;
	text-align: left;
	padding-right: 24px;
}
.articles .mainart h2{
	padding-bottom: 24px;
	color: rgb(172, 27, 38);
}
.articles .mainart .mainartimg img, .thesiscont .mainart img, .mainart video{
	width: 100%;
	margin-bottom: 24px;
}
.mainart .author{
	font-size: 0.8rem;
	margin-top: 20px;
}
.articles .sidecol, .thesis .sidecol{
	width: 40%;
	border-left: 1px solid lightgrey;
	display: flex;
	flex-direction: column;
}
.articles .sidecol .sideart, .thesis .sidecol .sideart{
	display: flex;
	align-items: center;
	border: 1px solid lightgrey;
	padding: 16px 16px;
}
.sideart .sideimg .hiddenimg{
	display: none;
}
.sideart .sideimg {
	width: 35%;
	height: auto;
}
.sideimg img{
	width: 100%;
}
.sidetext{
	width: 65%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	text-align: left;
	padding-left: 16px;
}
.sidetext span{
	padding-top: 8px;
}
#quote{
	font-style: italic;
	padding-bottom: 24px;
}
.sidetext .more{
	color: rgb(63,148,139);
}
/*LEARN SECTION*/
.learn{	
	padding: 32px 72px;
	text-align: center;
	background-color: rgb(63,148,139);
}
.learn h2{
	margin-bottom: 32px;
	color: white;
}
.learngallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.learn .learncont{
	display: flex;
	flex-direction: column;
	align-items: left;
	width: 30%;
	background-color: white;
	text-align: left;
	margin: 16px 16px;
}
.learn .learncont:hover{
	position: relative;
	top: 5px;
}
.learncont img{
	display: block;
	width: 100%;
	height: auto;
}
.learncont .learntext{
	padding: 16px 16px 24px 16px;
	display: block;
}
.learntext span{
	display: block;
	margin: 8px 0;
}
/*THESIS SECTION*/
.thesis
{	
	padding: 32px 0;
	text-align: center;
	background-color: white;
}
.thesis h3{
	margin-bottom: 8px;
	color: rgb(172, 27, 38);
}
.thesis h2{
	color: rgb(172, 27, 38);
}
.sidecol .sidetext h3{
	color: black;
}
.thesiscont{
	padding-top: 32px;
	padding-right: 0;
	padding-bottom: 0;
}
#darkback{
	background-color: lightgrey;
}
/*PHONE SCREEN VERSION*/
@media only screen and (max-width: 730px){

	header .logonav .hiddenmenu{
		display: inline-block;
	}
	header .logo, header .logonav .deskmenu{
		display: none;
	}
	.headercont{
		justify-content: center;
	}
	.headercont ul li{
		padding:0 30px;
	}
	.banner{
		display: block;
	/*	flex-direction: column;*/
		padding: 0 0;
	}
	.banner .bannerimg{
		padding: 0;
		width: 100%;
	}
	.banner .bannertext{
		width: auto;
		padding: 16px 16px;
		margin: 0 0;
	}
	.articles .mainart{
		display: none;
	}
	.articles .sidecol{
		width: 100%;
	}
	.articles{
		padding: 0 0;
	}
	.articles .sidecol .sideart{
		flex-direction: column;
		padding-bottom: 48px;
	}
	.sideart .sideimg .deskimg, .learn .deskimg, .learncont span, .learncont p{
		display: none;
	}
	.sideart .sideimg{
		width: 100%;
	}
	.sideart .sideimg .hiddenimg {
		width: 100%;
		display: block;
	}
	#darkback{
		background-color: white;
	}
	.sideart .sidetext{
		width: 100%;
	}
	.learn{
		padding: 16px 16px;
	}
	.learn h2{
		margin-bottom: 16px;
	}
	.learn .learngallery{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.learn .learncont{
		width: 100%;
		background-color: white;
		margin: 4px 0;
	}
	.thesiscont{
		margin-top: 16px;
		padding: 0 0;
	}
	.thesiscont .mainart{
		width: 100%;
		padding: 0 0;
	}
	.thesis .sidecol, .mainart h3, .mainart p{
		display: none;
	}
	.main .thesis{
		padding-bottom: 24px;
	}

	.footercont .logonav{
		display: none;
	}
}